# Created by .ignore support plugin (hsz.mobi)
*~
.DS_Store
bower_components/angular-datetime
bower_components/moment
bower_components
.idea
report
index_BACKUP_95481.html
index_BASE_95481.html
index_LOCAL_95481.html
index_REMOTE_95481.html
.tmp
node_modules
